/* colors */

.text-black {
  color: #fff;
}
.row.text-center > div {
      display: inline-block;
      float: none;
    }
/* text */
.sect-desc {
  max-width: 864px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 700;
}
.hero-main {
  margin-top: 75px;
  position: relative;
  /*min-height: 120vh;*/
  min-height: 649px;
  /* width: 100vw; */
  overflow: hidden;
  background-image: url('../img/millicast-hero-dolbyio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-main h1 {
  font-size: 54px;
  font-weight: 600;
  text-shadow: 2px 2px 7px #222222;
  max-width: 632px;
  font-family: 'avenir-next-medium', sans-serif;
}
.hero-main h2 {
  font-size: 0.9em;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000000;
}
.hero-main h3 {
  font-weight: 500;
  font-size: 19px;
  line-height: 155%;
  max-width: 624px;
  text-align: center;
}

/* min-width: 150px; */
.key-points-row{
  background: rgba(177, 133, 255, 0.07);
   /*margin-top: 1.0em;*/
   width: auto;
}

.key-points-item {
  vertical-align: text-top;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
  min-width: 150px;
}

.key-points-item h1 {
  font-size: 1.48em;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 0.4em;
}

.key-points-item p {
  color: #B9B9BA;
  font-size: 15px;
  line-height: 1.4;
}

#howAndWhy .why-item img{
  width: 30px;
}
#howAndWhy .why-item p{
  font-weight: 500;
  font-size: 0.83em;
}
#howAndWhy .why-desc{
  font-size: 0.83em;
  font-weight: 300;
}
#howAndWhy .works-desc p{
  font-size: 0.83em;
  font-weight: 100;
}
#howAndWhy .works-desc img{
  width: 50px;/* 3em; */
}


.choose-title {
  /* font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  padding-bottom: .25em; */
  font-size: 1.45em;
}

.who-needs #leftList .list-group-item, .who-needs #rightList .list-group-item{
  font-size: 1.44em;
}

.who-needs-item-font{
  margin-left: 0;
}

.who-needs img {
  height: auto;
  width: 40px;
}

.who-needs #leftList .list-group-item img, 
.who-needs #rightList .list-group-item img {
  margin-right: 3.5em;
  margin-left: 2em;
}

@media (max-width: 880px) {
  .who-needs #leftList .list-group-item, .who-needs #rightList .list-group-item {
    font-size: 1.2em;
  }
  .who-needs #leftList .list-group-item img, 
  .who-needs #rightList .list-group-item img {
    margin-right: 2.2em;
    margin-left: 1.5em;
  }

  .hero-main h1{
    font-size: 3.3em;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

.customer-logos-row{
    width: 100%;
    /*padding-top: 1em;*/
    padding-left: 4em;
    padding-right: 4em;
}
#custLogoView {
  background: rgba(177, 133, 255, 0.07) !important;
  padding-left: 90px !important;
}
.customer-logos-sect {
  background-color: rgba(177, 133, 255, 0.07) !important;
}
.customer-logos-font {
  /* font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; */
  color: #35C8FF;
  font-size: 14px;
  padding-top: 1.2em;
  text-align: center;
  letter-spacing: .15em;
}

.customer-logos-blocks {
    vertical-align: text-top;
    align-items: top;
    padding-bottom: 1em;
    margin-top: .7em;
    /* display: flex;
    margin-left: 1em;
    margin-right: 1em; */
}
.customer-logos-item {
  vertical-align: text-top;
  /* margin-top: 1.5em; */
  /* margin-bottom: 1.5em; */
  /* margin-right: 1em; */
  /* margin-left: 1em; */
  text-align: center;
  display: flex;
  justify-content: center;
  /* height: 160px; */
  align-items: center;
}
.customer-logos-item img{
    vertical-align: text-top;

}
.customer-logos-item h1 {
    font-size:  1.2em;
    font-weight: 400;
    padding-bottom: 0.4em;
    color: #fff;
    letter-spacing: 0.05em;

}
.customer-logos-item p {
    color: #444444;
    font-size:  .8em;
    padding-top: .7em;
}
.customer-logos-item h4 {
    color: #444444;
    font-size:  .8em;
    font-weight: bold;
}
