#pageNav {
  min-height: 75px;
}

#pageNav .navbar-brand img { /* jer */
  height: 36px;
  /* margin-left: 1em; */
  /* margin-top: 19px; */
}
#pageNav .nav-item {
  padding: 1em 1.2em;
}
#pageNav .nav-item > a,
#pageNav .nav-item > a:focus {
    /* padding: 27px 20px; */
    font-size: 13px;
    /*font-weight: 600;*/
    color: #40308e;
}

#pageNav .nav-item > a:hover,
#pageNav .nav-item > a:focus:hover {
    color: #838889;
}

#pageNav .nav-item.active > a,
#pageNav .nav-item.active > a:focus {
    color: #40308e !important;
    background-color: transparent;
}

#pageNav .nav-item.active > a:hover,
#pageNav .nav-item.active > a:focus:hover {
    background-color: transparent;
}

.hero-pricing h1 {
  font-size: 2.8em;
  font-weight: 300;
  font-style: italic;
}
.hero-pricing h3 {
  font-size: 1.03em;
  font-weight: 100;
  /* margin-bottom: 1em; */
  line-height: 25px;
}

.pricing-table h1{
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  color: #222222;
  
}

#plansTable {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  color:#666666;
  font-size: 14px;
}

#plansTable .tbl-item {
  padding: 0.5rem;
  /* ellipsis */
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  /* / */
}
#plansTable .tbl-item {
  text-align: left;
}
#plansTable small {
  display: none;
}

#plansTable button.pricing-button {
  font-size: 12px;
  display: block;
  width: 100%;
}
#faq-plans .faq-head{
  color: #222222;
}
#faq-plans .faq-question{
  font-weight: 500;
  font-size: 0.99em;/* 1.2em; */
}

#faq-plans .faq-answer{
  font-weight: 200;
  font-size: 0.85em;
}
.main-footer-sect {
  background: #222;
  color: #c9c9c9;
  white-space: nowrap;
  min-height: 100px;
}
.main-footer-sect a {
  text-decoration: none;
  font-size: 0.75em;
  color: white;
}

@media (max-width: 767px) {
  #plansTable #featureDesc {
    display: none;
  }
  
  #plansTable .tbl-item {
    text-align: center;
  }
  
  #plansTable small {
    display: inherit;
  }

  #plansTable button.pricing-button {
    font-size: 12px;
    display: inline-block;
    width: 100px;
  }
  #plansTable .pricing-table-highlight {
    font-weight: inherit;
    background: white;
  }
  #plansTable .pricing-table-highlight.alt {
    background: #F9F9F9;
  }
  
  #plansTable .bg-purp-highlight {
    background: white;
  }
}

/* COLORS */

.bg-purp {
  background: #40308e;
}
.bg-lt-purp {
  background: #54449c;
}
.bg-purp-highlight {
  background: #d0caef;
}

/* TEXT */

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

.section-title {
    font-weight: 300;
    font-size: 1.45em;
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

.text-ultra-dk-grey {
  color: #222;
}


